/* CSS Document */

body {
  margin: 1px;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 690px;
}
table tr th,
table tr td {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  padding: 1px;
}
table tr th:first-child,
table tr td:first-child {
  border-left: 1.5px solid black;
}
table tr th {
  background: #eee;
  border-top: 1.5px solid black;
  text-align: left;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 1px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 1px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 1px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 1px;
}